.main {
    display: flex;
    direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslateblue;
    margin-top: 30px;
    margin-left: 25px;
}

.left {
    width: 60%;
}

.ss {
    color: lightslategray;
    font-weight: 500;
}

.list {
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 220PX;
    background-color: lightgrey;
    border-radius: 8px;
    padding: 10px;
}

.img {
    height: 60px;
    border-radius: 8px;
}

.play {
    margin-top: 27px;
    color: lightslategray;
    margin-left: 7px;
    margin-right: 7px;
    width: 30px;
}

.song {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    margin-right: 18px;
    width: 90px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    margin-right: 18px;
}

.singer {
    margin-top: 23.5px;
    color: lightslategray;
    font-weight: 500;
    width: 110px;
    margin-left: 80px;
    text-align: left;
}

.time {
    margin-top: 23.5px;
    color: lightslategray;
    font-weight: 500;
    width: 40px;
    margin-left: 80px;
    text-align: left;
}

.tym {
    margin-top: 27px;
    color: red;
    margin-left: 100px;
}

.player {
    margin-top: 100px;
    width: 500px;
    margin-left: 100px;
}

.dvd {
    border-radius: 50%;
    width: 300px;
    margin-left: 100px;
}

.n1 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.n2 {
    color: lightslategray;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

hr {
    width: 500px;
    margin: auto;
    margin-top: 40px;
}

.t1 {
    color: lightslategray;
    font-weight: 500;
}

.item {
    color: lightslategray;
    width: 500px;
    margin-left: 72px;
    margin-top: 100px;
}

.itemm {
    width: 50px;
    height: 30px;
    margin-right: 25px;
}