.nav-item {
   font-size: 25px;
   font-weight: 700;
   margin-right: 30px;
}

.logo {
   height: 35px;
   margin-top: 15px;
   margin-left: 10px;
}

.nav-link:hover {
   box-shadow: 0 4px black;
}

.bgbar {
   background-color: lightgray;
   height: 70px;
   margin-bottom: 30px;
   display: flex;
   direction: row;
}


.btn-logout {
   height: 38px;
   background-color: #e51d25;
   border: 0;
   margin-left: 650px;
}

.right {
   background-color: aquamarine;
   height: 300px;
   border-radius: 10px;
}

.row {
   width: 90%;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 100px;
}

.center {
   width: 90%;
   margin: auto;
}

.left li {
   font-weight: 400;
   font-size: 18px;
}

.btn-detail {
  width: 100%;
  background-color: #e51d25;
  margin-right: 20px;
  color: white;
  border: none;
  height: 50px;
}

.btn-delete {
  border-radius: 8px;
  background-color: green;
  color: white;
  border: none;
}

button:hover {
   color: black;
}

.table {
  background-color: black;
  color: white;
  width: 400px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
}

.bg-btn-detail{
   width: 400px;
   margin: auto;
   margin-bottom: 100px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(32, 41, 32);
}

tbody tr:hover {
  background-color: #333;
}

.form {
   width: 350px;
   margin: auto;
}

.imgga {
   width: 350px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.input {
   width: 260px;
   margin: auto;
   margin-bottom: 100px;
}

.input-item {
   margin-bottom: 10px;
   border : none;
   box-shadow: 0 1px black;
   width: 100%;
   outline: none;
}

.btn-submit {
   width: 100%;
   margin-top: 20px;
   background-color: #e51d25;
   border: none;
   height: 45px;
   color: white;
}

.btn-create {
   width: 100%;
   margin-top: 10px;
   background-color: rgb(95, 95, 95);
   border: none;
   height: 30px;
   color: white;
}

.user {
   width: 350px;
   margin: auto;
   display: flex;
   margin-bottom: 100px;
}

.avt {
   margin-top: 100px;
   width: 100%;
   border-radius: 20px;
}

.bgtext {
   width: 250px;
   margin-top: 102px;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: 20px;
   height: 190px;
   box-shadow: #333 0px 0px 1px 0px;
}

.text {
   width: 100%;
   margin: auto;
   text-align: left;
}

.footer {
   text-align: center;
   font-size: 11px;
}